<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Événements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="search-content">
    <ion-searchbar
      placeholder="Rechercher un événement..."
      (ionInput)="onSearchChange($event)"
    ></ion-searchbar>
  </div>

  <div class="filter-group">
    <ion-button
      [ngClass]="selectedFilter === 'tous' ? 'selected' : 'unselect'"
      (click)="onFilterChange('tous')"
      >Tous</ion-button
    >
    <ion-button
      [ngClass]="selectedFilter === 'recents' ? 'selected' : 'unselect'"
      (click)="onFilterChange('recents')"
      >Récents</ion-button
    >
    <ion-button
      [ngClass]="selectedFilter === '2jours' ? 'selected' : 'unselect'"
      (click)="onFilterChange('2jours')"
      >2 jrs</ion-button
    >
    <ion-button
      [ngClass]="selectedFilter === 'plus_anciens' ? 'selected' : 'unselect'"
      (click)="onFilterChange('plus_anciens')"
      >Anciens</ion-button
    >
    <span class="count">({{filteredEvents.length}})</span>
  </div>

  <!-- Squelettes de chargement -->
  @if (isLoading) { @for (item of [1, 2, 3]; track item) {
  <ion-card class="skeleton-card">
    <div class="skeleton-image-wrapper">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </div>
    <div class="header">
      <ion-card-header>
        <h3 class="title">
          <div class="skeleton-title-wrapper">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </div>
        </h3>

        <span class="subtitle">
          <div class="skeleton-subtitle-wrapper">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </div>
        </span>
      </ion-card-header>
    </div>

    <ion-card-content>
      <div class="skeleton-line-wrapper">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="skeleton-line-wrapper short">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="skeleton-line-wrapper shortest">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ion-card>
  } }

  <!-- Contenu réel -->
  @if (!isLoading) { @for (event of filteredEvents; track event.id) {
  <ion-card (click)="goToDetails(event, $event)">
    @if (event.images && event.images.length > 0) {
    <img [src]="event.images[0]" />
    }
    <div class="header">
      <ion-card-header>
        <h3 class="title">{{event.title}}</h3>
        <div class="event-meta">
          <span class="date"
            >{{event.createdAt.toDate() | date: 'mediumDate' }}</span
          >
        </div>
        <div class="event-details"></div>
      </ion-card-header>
    </div>
    <ion-card-content>
      <p>{{event.description}}</p>
    </ion-card-content>
    <ion-buttons>
      <ion-button class="share" (click)="openShareModal(event)">
        <ion-icon slot="start" name="share-social"></ion-icon>
        <ion-text>Partager</ion-text>
      </ion-button>

      <ion-button
        class="learn_more"
        [routerLink]="['/tabs/event-details', event.id]"
      >
        <ion-text>En savoir plus</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-card>
  } @if (filteredEvents.length === 0) {
  <div class="no-results">
    <ion-icon name="calendar-outline"></ion-icon>
    <h3>Aucun événement trouvé</h3>
    <p>Essayez de modifier vos critères de recherche ou de filtre</p>
  </div>
  } }
</ion-content>

<ion-modal id="share-modal" #modal>
  <ng-template>
    <div class="wrapper">
      <h1>Partager l'événement</h1>
      <p>
        Choisissez une application pour partager les détails de cet événement.
      </p>
      <ion-button expand="block" (click)="shareEvent()">
        <ion-icon slot="start" name="apps-outline"></ion-icon>
        Choisir une application
      </ion-button>
    </div>
  </ng-template>
</ion-modal>
