<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-img
      [src]="bulletin?.imageUrl"
      (click)="openImageViewer(bulletin?.imageUrl || '')"
      style="cursor: pointer"
    ></ion-img>
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-header>
  <div class="details-content">
    <div class="header">
      <div class="text">
        <h2>{{ bulletin?.title }}</h2>
        <span>Valable jusqu'au {{ bulletin?.date | date: 'fullDate' }}</span>
      </div>
      <app-badge [severity]="bulletin?.severity">/</app-badge>
    </div>

    <p>{{ bulletin?.descriptionDetails }}</p>

    <swiper-container
      [modules]="swiperModule"
      [slidesPerView]="1"
      [spaceBetween]="8"
      [pagination]="{ clickable: true }"
      [centeredSlides]="true"
    >
      @for (image of bulletin?.imagesUrls; track $index) {
      <swiper-slide>
        <img
          [src]="image"
          (click)="openImageViewer(image || '')"
          style="cursor: pointer"
        />
      </swiper-slide>
      },
    </swiper-container>

    <h3>Conseils pratiques</h3>

    @for (conseil of bulletin?.conseils; track $index) {
    <li><span>{{ conseil }}</span></li>
    }
  </div>

  <ion-button expand="block" color="primary">
    <ion-icon name="arrow-down-outline"></ion-icon>
    <ion-text>Télécharger le PDF</ion-text>
  </ion-button>
</ion-content>

<!-- Image Viewer Modal -->
<app-image-viewer-modal
  [isOpen]="isImageViewerOpen"
  [imageUrl]="currentImageUrl"
  (didDismiss)="onModalDismiss()"
  [title]="bulletin?.title"
>
</app-image-viewer-modal>
