<ion-content [fullscreen]="true">
  <ng-container *ngIf="bulletin">
    <ion-header class="ion-no-border">
      <ion-img
        [src]="bulletin.images[0]"
        (click)="openImageViewer(bulletin.images[0] || '')"
        style="cursor: pointer"
      ></ion-img>
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-header>
    <div class="details-content">
      <div class="header">
        <div class="text">
          <h2>{{ bulletin.title }}</h2>
          <span
            >Valable jusqu'au {{ bulletin.endDate | date: 'fullDate' }}</span
          >
        </div>
        <app-badge [severity]="bulletin.severity">/</app-badge>
      </div>

      <p>{{ bulletin.description }}</p>

      <swiper-container
        [modules]="swiperModule"
        [slidesPerView]="1"
        [spaceBetween]="8"
        [pagination]="{ clickable: true }"
        [centeredSlides]="true"
      >
        @for (image of bulletin.images; track $index) {
        <swiper-slide>
          <img
            [src]="image"
            (click)="openImageViewer(image || '')"
            style="cursor: pointer"
          />
        </swiper-slide>
        }
      </swiper-container>

      <h3>Conseils pratiques</h3>

      <ul>
        @for (conseil of bulletin.tips; track $index) {
        <li><span>{{ conseil }}</span></li>
        }
      </ul>
    </div>

    <ion-button expand="block" color="primary">
      <ion-icon name="arrow-down-outline"></ion-icon>
      <ion-text>Télécharger le PDF</ion-text>
    </ion-button>
  </ng-container>
</ion-content>

<!-- Image Viewer Modal -->
<app-image-viewer-modal
  [isOpen]="isImageViewerOpen"
  [imageUrl]="currentImageUrl"
  (didDismiss)="onModalDismiss()"
  [title]="bulletin?.title"
>
</app-image-viewer-modal>
