<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="notifications">
    <h3>Notifications</h3>
    <ion-list>
      <ion-item class="ion-no-padding">
        <ion-toggle justify="spaceBetween"
          >Recevoir les notifications push</ion-toggle
        >
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-toggle justify="spaceBetween">Recevoir par email</ion-toggle>
      </ion-item>
    </ion-list>
  </div>

  <div class="appearence">
    <h3>Thème</h3>
    <ion-radio-group [value]="currentTheme" (ionChange)="themeChanged($event)">
      <ion-item class="ion-no-padding">
        <ion-radio value="light" labelPlacement="start">Clair</ion-radio><br />
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-radio value="dark" labelPlacement="start">Sombre</ion-radio><br />
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="institution">
    <h3>Institution</h3>
    <ion-item class="ion-no-padding" (click)="promptBecomeInstitution()">
      Accéder aux annonces personnalisées
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </div>

  <div class="institution">
    <h3>Compte</h3>
    <ion-list>
      @if (!(currentUser$ | async)) {
      <ion-item class="ion-no-padding" routerLink="/signup">
        Créer un compte
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      }

      <ng-container *ngIf="currentUser$ | async as user">
        @if (!user.isAdmin) {
        <ion-item
          class="ion-no-padding"
          (click)="promptBecomeAdmin()"
          *ngIf="!user.isAdmin"
        >
          Devenir administrateur
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        }
        <ion-item class="ion-no-padding" (click)="logout()">
          Se déconnecter
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
