<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-img
      [src]="event?.imageUrl"
      (click)="openImageViewer(event?.imageUrl || '')"
      style="cursor: pointer"
    ></ion-img>
    <ion-back-button text="" defaultHref="events"></ion-back-button>
  </ion-header>
  <div class="details-content">
    <div class="header">
      <div class="text">
        <h2>{{ event?.title }}</h2>
        <span>Le {{ event?.date | date: 'fullDate' }}</span>
      </div>
    </div>

    <p>{{ event?.descriptionDetails }}</p>

    <swiper-container
      [modules]="swiperModule"
      [slidesPerView]="1"
      [spaceBetween]="8"
      [pagination]="{ clickable: true }"
      [centeredSlides]="true"
    >
      @for (image of event?.imagesUrls; track $index) {
      <swiper-slide>
        <img
          [src]="image"
          (click)="openImageViewer(image || '')"
          style="cursor: pointer"
        />
      </swiper-slide>
      },
    </swiper-container>

    <h3>Liens utiles</h3>

    <!-- @for (conseil of event?.conseils; track $index) {
    <li><span>{{ conseil }}</span></li>
    } -->
  </div>

  <!-- Image Viewer Modal -->
  <app-image-viewer-modal
    [isOpen]="isImageViewerOpen"
    [imageUrl]="currentImageUrl"
    (didDismiss)="onModalDismiss()"
    [title]="event?.title"
  >
  </app-image-viewer-modal>
</ion-content>
