<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar>
    <ion-tab-button tab="home">
      @if(selectedTab() === "home" || selectedTab() === "bulletin-details") {
      <ion-icon name="home-sharp" color="primary"></ion-icon>
      } @else {
      <ion-icon name="home-outline" color="secondary-contrast"></ion-icon>
      }
    </ion-tab-button>

    <ion-tab-button tab="events">
      @if (selectedTab() === "events" || selectedTab() === "event-details") {
      <ion-icon name="newspaper" color="primary"></ion-icon>
      } @else {
      <ion-icon name="newspaper-outline" color="secondary-contrast"></ion-icon>
      }
    </ion-tab-button>

    <ion-tab-button tab="add">
      @if (selectedTab() === "add") {
      <ion-icon name="add-outline" color="primary"></ion-icon>
      } @else {
      <ion-icon name="add-outline" color="secondary-contrast"></ion-icon>
      }
    </ion-tab-button>

    <ion-tab-button tab="settings">
      @if (selectedTab() === "settings") {
      <ion-icon name="settings" color="primary"></ion-icon>
      } @else {
      <ion-icon name="settings-outline" color="secondary-contrast"></ion-icon>
      }
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
