.filter-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 18px;
  .count {
    font-weight: 500;
    margin-left: 8px;
    color: var(--ion-color-primary);
  }
  ion-button {
    --box-shadow: none;
    text-transform: none;
    font-weight: 400;
    --border-radius: 8px;
    width: 74px;
    --background: transparent;
    color: var(--ion-color-secondary-contrast);
  }
  ion-button.selected {
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    font-weight: 500;
  }
  ion-button.unselect {
    border-radius: 8px;
    width: 74px;
    border: 2px solid var(--ion-color-very-light-gray);
    font-weight: 400;
  }
}
ion-content {
  ion-item {
    display: flex;
    justify-content: center;
    border: none !important;
    box-shadow: none !important;
    padding-top: 42px;
    ion-img {
      height: 59px;
      width: 118px;
    }
    .notifications {
      display: flex;
      justify-content: center;
      align-items: center;
      --background: transparent;
      --box-shadow: none;
      padding: 8px 4px;
      min-height: 25px;
      font-size: 0.75rem;
      position: relative;
      z-index: 999;
      border: 2px solid var(--ion-color-very-light-gray);
      border-radius: 8px;
      ion-icon {
        position: relative;
        height: 26px;
        width: 26px;
        color: var(--ion-color-secondary-contrast);
      }
      ion-badge {
        position: absolute;
        transform: translate(4px, -8px);
        height: 12px;
        width: 12px;
        padding: 4px;
        border-radius: 50%;
        font-size: 10px;
        span {
          display: flex;
          justify-content: center;
          font-size: 11px;
          color: white;
        }
      }
    }
  }
  div.search-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin: 16px 8px 26px;
    ion-searchbar ::ng-deep input.searchbar-input {
      height: 48px !important;
      font-size: 16px !important;
      background-color: transparent;
      border-radius: 8px;
      --box-shadow: none;
      border: 1px solid rgba(var(--ion-color-gray-rgb), 0.38);
    }
    ion-searchbar::ng-deep .searchbar-search-icon {
      width: 24px;
      height: 24px;
      color: var(--ion-color-secondary-contrast);
    }

    ion-button {
      --box-shadow: none;
      --border-radius: 8px;
      ion-icon {
        width: 26px;
        height: 26px;
        color: white;
      }
    }
  }
  ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0;
    border: 1px solid var(--ion-color-very-light-gray);
    border-bottom: none;
    margin-bottom: 18px !important;
    box-shadow: none;
    img {
      border: none;
      object-fit: fill;
    }
    div.header {
      display: flex;
      align-items: center;
      justify-content: center;
      ion-card-header {
        span {
          font-weight: 300;
        }
        h3.title {
          font-size: 21px;
          font-weight: 500;
          color: var(--ion-color-secondary-contrast);
          margin-top: 6px;
        }
        span.subtitle {
          font-size: 14px;
          margin-top: -3px;
          font-weight: 300;
        }
      }
    }
    ion-card-content {
      p {
        font-size: 16px;
        font-weight: 400;
        margin-top: -12px;
        color: var(--ion-color-secondary-contrast);
        line-height: 1.4rem;
        a {
          text-decoration: none;
          color: var(--ion-color-primary);
        }
      }
    }
    ion-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      margin-top: 8px;
      margin-bottom: 16px;
      ion-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 40px;
        border-radius: 8px;
        font-size: 14px;
        text-transform: none;
        font-weight: 400;
      }
      ion-button.share {
        background: var(--ion-color-very-light-gray);
        color: var(--ion-color-secondary-contrast);
      }

      ion-button.download {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
      }
    }
  }
}

ion-modal#share-modal {
  --width: fit-content;
  --min-width: 330px;
  --height: fit-content;
  --border-radius: 8px;
  --box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  h1 {
    margin: 20px 20px 10px 20px;
    font-size: 24px;
    letter-spacing: normal;
  }
  ion-list {
    ion-item {
      margin-bottom: 16px;
    }
    ion-img {
      height: 46px;
      width: 46px;
      margin-inline-end: 12px;
      margin-bottom: 8px;
    }
  }
  .wrapper {
    margin-bottom: 10px;
  }
}
