<ion-content fullscreen="true">
  <ion-item lines="none">
    <ion-img src="./assets/logo/anam_logo.png"></ion-img>
    <ion-button class="notifications" slot="end" (click)="openNotifications()">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge color="danger"><span></span></ion-badge>
    </ion-button>
  </ion-item>

  <div class="search-content">
    <ion-searchbar
      placeholder="Rechercher..."
      (ionInput)="onSearchChange($event)"
    ></ion-searchbar>
  </div>

  <div class="filter-group">
    <ion-button
      [ngClass]="selectedFilter === 'tous' ? 'selected' : 'unselect'"
      (click)="onFilterChange('tous')"
      >Tous</ion-button
    >
    <ion-button
      [ngClass]="selectedFilter === 'normal' ? 'selected' : 'unselect'"
      (click)="onFilterChange('normal')"
      >Normal</ion-button
    >
    <ion-button
      [ngClass]="selectedFilter === 'eleve' ? 'selected' : 'unselect'"
      (click)="onFilterChange('eleve')"
      >Elevé</ion-button
    >
    <ion-button
      [ngClass]="selectedFilter === 'urgent' ? 'selected' : 'unselect'"
      (click)="onFilterChange('urgent')"
      >Urgent</ion-button
    >
    <span class="count">({{filteredBulletins.length}})</span>
  </div>
  @for (bulletin of filteredBulletins; track $index) {
  <ion-card (click)="goToDetails(bulletin, $event)">
    <img [src]="bulletin.imageUrl" />
    <div class="header">
      <ion-card-header>
        <span>{{bulletin.date | date: 'mediumDate' }}</span>
        <h3 class="title">{{bulletin.title}}</h3>
        <span class="subtitle">
          Valable jusqu'au {{ bulletin.date | date: 'fullDate' }}
        </span>
      </ion-card-header>
      <app-badge [severity]="bulletin.severity" />
    </div>
    <ion-card-content>
      <p>
        {{bulletin.description}}
        <a href="#" [routerLink]="['bulletin-details', bulletin.id]"
          >En savoir plus</a
        >
      </p>
    </ion-card-content>
    <ion-buttons>
      <ion-button class="share" (click)="openShareModal(bulletin)">
        <ion-icon slot="start" name="share-social"></ion-icon>
        <ion-text>Partager</ion-text>
      </ion-button>

      <ion-button class="download">
        <ion-icon name="arrow-down-outline"></ion-icon>
        <ion-text>Télécharger</ion-text>
      </ion-button></ion-buttons
    >
  </ion-card>
  }
</ion-content>

<ion-modal id="share-modal" #modal>
  <ng-template>
    <div class="wrapper">
      <h1>Partager via</h1>
      <ion-list>
        <ion-item button="true" detail="false" (click)="modal.dismiss()">
          <ion-img src="assets/logo/facebook.png"></ion-img>
          <ion-label>Facebook</ion-label>
        </ion-item>
        <ion-item button="true" detail="false" (click)="modal.dismiss()">
          <ion-img src="assets/logo/whatsapp.png"></ion-img>
          <ion-label>Whatsapp</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>
