<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Ajouter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-group">
    <ion-button
      [ngClass]="activeForm === 'alert' ? 'active' : ''"
      (click)="setActiveForm('alert')"
    >
      Alerte
    </ion-button>
    <ion-button
      [ngClass]="activeForm === 'event' ? 'active' : ''"
      (click)="setActiveForm('event')"
    >
      Évènement
    </ion-button>
  </div>

  @if (activeForm === 'alert') {
  <form [formGroup]="alertForm" (ngSubmit)="submitAlert()">
    <p>Titre</p>
    <ion-input
      type="text"
      formControlName="title"
      fill="outline"
      placeholder="Entrez le titre"
      [class.ion-invalid]="alertForm.get('title')?.invalid && alertForm.get('title')?.touched"
    ></ion-input>

    <div class="image-upload">
      <p>Images</p>
      <ion-button expand="block" (click)="onImagesSelected()" fill="outline">
        <ion-icon slot="start" name="image"></ion-icon>
        Sélectionner des images
      </ion-button>
      <input
        type="file"
        #fileInput
        style="display: none"
        multiple
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      @if (selectedImages.length > 0) {
      <div class="selected-images">
        @for (image of selectedImages; track $index) {
        <div class="image-preview">
          <img [src]="image.preview" alt="Preview" />
          <ion-icon name="close-circle" (click)="removeImage(image)"></ion-icon>
        </div>
        }
      </div>
      }
    </div>

    <ion-select
      label="Niveau de criticité"
      labelPlacement="start"
      fill="outline"
      formControlName="severity"
      [class.ion-invalid]="alertForm.get('severity')?.invalid && alertForm.get('severity')?.touched"
    >
      <ion-select-option value="normal">Normal</ion-select-option>
      <ion-select-option value="eleve">Elevé</ion-select-option>
      <ion-select-option value="urgent">Urgent</ion-select-option>
    </ion-select>

    <ion-select
      label="Envoyer à"
      labelPlacement="start"
      fill="outline"
      formControlName="target"
      [class.ion-invalid]="alertForm.get('target')?.invalid && alertForm.get('target')?.touched"
    >
      <ion-select-option value="all">Tout le monde</ion-select-option>
      @for (institution of institutions; track $index) {
      <ion-select-option [value]="institution.uid"
        >{{ institution.displayName || institution.email }}</ion-select-option
      >
      }
    </ion-select>

    <ion-textarea
      label="Description"
      labelPlacement="start"
      fill="outline"
      placeholder="Entrez la description"
      formControlName="description"
      [autoGrow]="true"
      [class.ion-invalid]="alertForm.get('description')?.invalid && alertForm.get('description')?.touched"
    ></ion-textarea>

    <div class="datetime-chooser">
      <p>Date de fin</p>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </div>

    <p>Fichier PDF</p>
    <ion-input
      type="file"
      accept="application/pdf"
      formControlName="pdfFile"
      fill="outline"
      placeholder="Choisissez un fichier PDF"
    ></ion-input>

    <div class="practical-tips" formArrayName="tips">
      <p>Conseils</p>
      @for (tip of tipsFormArray.controls; track $index) {
      <ion-input
        [formControlName]="$index"
        placeholder="Ecrivez un conseil"
        type="text"
        fill="outline"
      ></ion-input>
      <ion-button class="removeBtn" color="danger" (click)="removeTip($index)">
        <ion-icon slot="start" name="trash"></ion-icon>
        <span>Retirer</span>
      </ion-button>
      }

      <ion-button (click)="addTip()">
        <ion-icon slot="start" name="add"></ion-icon>
        Ajouter un conseil
      </ion-button>
    </div>

    <ion-button expand="block" type="submit" [disabled]="alertForm.invalid"
      >Publier le bulletin</ion-button
    >
  </form>
  } @if (activeForm === 'event') {
  <form [formGroup]="eventForm" (ngSubmit)="submitEvent()">
    <p>Titre</p>
    <ion-input
      type="text"
      formControlName="title"
      fill="outline"
      placeholder="Entrez le titre"
      [class.ion-invalid]="isFieldInvalid(eventForm, 'title')"
    ></ion-input>

    <div class="image-upload">
      <p>Images</p>
      <ion-button expand="block" (click)="onImagesSelected()" fill="outline">
        <ion-icon slot="start" name="image"></ion-icon>
        Sélectionner des images
      </ion-button>
      <input
        type="file"
        #fileInput
        style="display: none"
        multiple
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      @if (selectedImages.length > 0) {
      <div class="selected-images">
        @for (image of selectedImages; track $index) {
        <div class="image-preview">
          <img [src]="image.preview" alt="Preview" />
          <ion-icon name="close-circle" (click)="removeImage(image)"></ion-icon>
        </div>
        }
      </div>
      }
    </div>

    <ion-textarea
      label="Description"
      labelPlacement="start"
      fill="outline"
      placeholder="Entrez la description"
      formControlName="description"
      [autoGrow]="true"
      [class.ion-invalid]="isFieldInvalid(eventForm, 'description')"
    ></ion-textarea>

    <div class="practical-tips" formArrayName="usefulLinks">
      <p>Liens Utiles</p>
      @for (link of usefulLinksFormArray.controls; track $index) {
      <div [formGroupName]="$index" class="link-group">
        <ion-input
          type="text"
          formControlName="title"
          fill="outline"
          placeholder="Titre du lien"
          [class.ion-invalid]="link.get('title')?.invalid && link.get('title')?.touched"
        ></ion-input>
        <ion-input
          type="url"
          formControlName="url"
          fill="outline"
          placeholder="URL du lien"
          [class.ion-invalid]="link.get('url')?.invalid && link.get('url')?.touched"
        ></ion-input>
        <ion-button color="danger" (click)="removeLink($index)">
          <ion-icon slot="start" name="trash"></ion-icon>
          <span>Retirer</span>
        </ion-button>
      </div>
      }
      <ion-button (click)="addLink()">
        <ion-icon slot="start" name="add"></ion-icon>
        Ajouter un lien
      </ion-button>
    </div>

    <ion-button expand="block" type="submit" [disabled]="eventForm.invalid"
      >Publier l'événement</ion-button
    >
  </form>
  }

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        [value]="alertForm.get('endDate')?.value"
        (ionChange)="onDateChange($event)"
        presentation="date"
        locale="fr-FR"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
