/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

// Police Inter Regular
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Police Inter Thin
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

// Police Inter ExtraLight
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

// Police Inter Light
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Police Inter Medium
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Police Inter SemiBold
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Police Inter Bold
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --ion-font-family: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--ion-font-family);
}
